<script src="../../Scripts/jquery-1.10.2.js"></script>
<script src="../../Scripts/knockout-3.4.0.js"></script>
<script src="../../KnockoutViewModels/BibliotekaHomeViewModel.js"></script>
<script src="../../KnockoutViewModels/HomePozycjeViewModel.js"></script>


<div class="row">
    <div class="col-md-4">
        <div data-bind="foreach: category">
            <a href="click: SendCategoryName"><p data-bind="text: $data"></p></a>
        </div>
    </div>
    <div class="col-md-8">
        <h2>Pozycje w kategorii:</h2>
        <ul data-bind="foreach: pozycje">
            <li data-bind="text: $data"></li>
        </ul>

    </div>

</div>



