<script src="../../Scripts/jquery-1.10.2.js"></script>
<script src="../../Scripts/knockout-3.4.0.js"></script>
<script src="../../KnockoutViewModels/BibliotekaHomeViewModel.js"></script>


<div class="row">
    <div class="col-md-3">
        <div data-bind="foreach: category">
            <p class="opcja" data-bind="text: $data"></p>
        </div>
        <a id="butt" data-bind="click: Save">buttonek</a>
    </div>
   
    <div class="col-md-9">
         
        <h2>Pozycje w kategorii:</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tytuł</th>
                        <th>Autor</th>
                        <th>Opis</th>
                        <th>Język</th>
                        <th>Wydawca</th>
                        <th>Rok wydania</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: pozycje">
                    <tr>
                        <td data-bind="text: IdPoz"></td>
                        <td data-bind="text: Tytul"></td>
                        <td data-bind="text: Autor"></td>
                        <td data-bind="text: Opis"></td>
                        <td data-bind="text: Jezyk"></td>
                        <td data-bind="text: Wydawca"></td>
                        <td data-bind="text: RokWydania"></td>
                    </tr>
                </tbody>
            </table>
        </div> 


    </div>

</div>



