<script src="~/KnockoutViewModels/LoginViewModel.js"></script>
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div>Hello! Login please.</div>
    <div><form data-bind="submit:login">
        <input type="text" name="login"/>
        <input type="password" name="password" />
        <button type="submit">Login</button>
        </form></div>
</div>